#vivaldi-close-unpinned-btn {
    position: absolute;
    z-index: 990;
    height: 20px;
    pointer-events: none;
    will-change: transform;
    backface-visibility: hidden;
    top: 0;
    bottom: auto;
}

#vivaldi-close-unpinned-btn.vertical {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tab-strip {
    position: relative;
}


#vivaldi-close-unpinned-btn .btn-content {
    pointer-events: auto;
    cursor: pointer;
    background-color: var(--colorBg, #222);
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--colorFg, #eee);
    opacity: .6;
    transition: opacity .2s, color .2s, background-color .2s;
    z-index: 2;
    position: relative;
}

#vivaldi-close-unpinned-btn .btn-content:hover {
    opacity: 1;
    color: var(--colorHighlightBg, #fff);
    background-color: var(--colorBgDarker, #111);
}